<nav>
    <ul id="desktop-nav">
        <li><a href="">Home</a></li>
        <li><a href="rijden">Rijden</a></li>
        <li><a href="#details">Details</a></li>
        <li><a href="contact">Contact</a></li>
    </ul>
</nav>

<nav id="mobile-nav">
    <ul>
        <li><a href="">Home</a></li>
        <li><a href="rijden">Rijden</a></li>
        <li><a href="#details">Details</a></li>
        <li><a href="contact">Contact</a></li>
    </ul>
</nav>